.container {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.3);
}

.center-red-box {}

input {
    display: none;
}

.red-box input:checked~label {
    background-color: #fff;
    border-color: #fff;
}

.red-box label {
    box-sizing: border-box;
    display: block;
    width: 20px;
    height: 20px;
    background-color: #DE4738;
    border: 1px solid #be4338;
    cursor: pointer;
}

.red-box:hover label {
    background-color: #f5594b;
}