.container {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    margin: 130px auto;
    border-radius: 2px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.4) 1px 2px 10px;
}

input {
    display: none;
}

.red-box input:checked~label {
    background-color: #fff;
    border-color: #fff;
}

.red-box label {
    box-sizing: border-box;
    display: block;
    width: 20px;
    height: 20px;
    background-color: #DE4738;
    border: 1px solid #be4338;
    cursor: pointer;
}

.red-box:hover label {
    background-color: #f5594b;
}